@use "color-palette" as *;

$theme: (
  primary-color: (default: $color-primary-500, dark: $color-primary-400),
  warning-color: (default: $color-warning-500, dark: $color-warning-500),
  danger-color: (default: $color-danger-500, dark: $color-danger-500),
  success-color: (default: $color-success-800, dark: $color-success-500),
  info-color: (default: $color-info-600, dark: $color-info-500),
  neutral-color-1: (default: $color-neutral-100, dark: $color-neutral-1000),
  neutral-color-2: (default: $color-neutral-200, dark: $color-neutral-900),
  neutral-color-3: (default: $color-neutral-300, dark: $color-neutral-800),
  neutral-color-4: (default: $color-neutral-400, dark: $color-neutral-700),
  neutral-color-5: (default: $color-neutral-500, dark: $color-neutral-600),
  neutral-color-6: (default: $color-neutral-600, dark: $color-neutral-500),
  neutral-color-7: (default: $color-neutral-700, dark: $color-neutral-400),
  neutral-color-8: (default: $color-neutral-800, dark: $color-neutral-300),
  neutral-color-9: (default: $color-neutral-900, dark: $color-neutral-200),
  neutral-color-10: (default: $color-neutral-1000, dark: $color-neutral-100),
);

$colors: primary, warning, danger, success, info;

@function get-theme-prop($label, $mode) {
  $property: map-get($theme, $label);
  @return map-get($property, $mode)
}

@mixin color-class($color: neutral, $index: 1, $mode: default) {
  .typography-#{$color}-color-#{$index} {
    color: get-theme-prop(#{$color}-color-#{$index}, $mode);
  }

  .bg-#{$color}-color-#{$index} {
    background-color: get-theme-prop(#{$color}-color-#{$index}, $mode);
  }
}


@mixin base($mode: default) {
  background-color: get-theme-prop(neutral-color-1, $mode);
  color: get-theme-prop(neutral-color-10, $mode);

  a {
    color: get-theme-prop(neutral-color-9, $mode);

    &:hover {
      color: get-theme-prop(neutral-color-5, $mode);
    }
  }

  footer {
    background-color: get-theme-prop(neutral-color-2, $mode);
  }

  @each $color in $colors {
    .bg-#{$color}-color {
      background-color: get-theme-prop(#{$color}-color, $mode);
    }

    .typography-#{$color}-color {
      color: get-theme-prop(#{$color}-color, $mode);
    }

  }

  @for $i from 1 through 10 {
    @include color-class($color: neutral, $index: $i, $mode: $mode);
  }
}


:root {
  @include base;

  .dark {
    @include base($mode: "dark");
  }
}
